nav{
     background-color: #5e9c31;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #0c3300;
    background-color: #8cff66;
    padding: 10px;
    border-radius: 15px;
}

footer p{
     background-color: #5e9c31;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p img {
    border-radius: 20px;
}
